@import (reference) '../../../styles/defs/_variables';
@import (reference) '../../../styles/defs/_mixins';

.optionWrapper {
  composes: optionWrapper from './CreateBookingController.less';

  legend {
    position: relative;
  }
}
.subText {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  top: 32px;
  font-weight: normal;
  font-style: italic;
  display: block;

  @media (max-width: @screen-sm-max) {
    margin-bottom: 5px;
  }
}

.price {
  position: absolute;
  right: 30px;
  font-weight: normal;
  color: @text-color;

  .priceSubText {
    font-size: 14px;
    display: block;
    text-align: right;
    line-height: 1;
  }

  @media (max-width: @screen-sm-max) {
    position: relative;
    right: 0;
    display: block;

    .priceSubText,
    & {
      text-align: left;
      padding: 2px 0;
    }
  }
}

.ribbon {
  color: @secondary-color;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  margin-left: 20px;

  @media (min-width: @screen-md) {
    margin-left: 50px;
  }
}

.seats {
  label {
    display: flex;
    padding-bottom: 0;
    flex-basis: 100%;
    align-items: center;

    > svg {
      width: 53px;
      height: 61px;
    }
  }

  :global(.ant-select) {
    width: 60px;
  }

  @media (max-width: @screen-sm-max) {
    &:global(.ant-row-flex-space-between) {
      justify-content: normal;
    }

    :global(.ant-select) {
      margin-left: auto;
    }

    .seatName {
      flex: 1;
      margin-right: 25px;
    }

    label {
      > svg {
        flex: 0 1 53px;
        margin: 0 20px;
      }

      + label {
        margin-top: 30px;
      }
    }
  }

  @media (min-width: @screen-md) {
    padding: 0 100px;

    label {
      width: 120px;
      flex-basis: 120px;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      > svg {
        width: 63px;
        height: 72px;
      }
    }

    :global(.ant-select) {
      margin-top: 20px;
    }

    .seatName {
      margin-top: 20px;
    }
  }
}

.addDestinationBtn {
  .resetBtn;

  margin: 0 0 0 38px;

  > span {
    width: 26px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    overflow: hidden;
  }

  &[disabled] {
    cursor: default;
    color: rgba(0, 0, 0, 0.5);

    svg circle {
      fill: #ccc;
    }
  }

  @media (max-width: @screen-sm-max) {
    margin: 0;
  }
}

// Sections
.optionsSection {
  svg {
    color: @brand-heavy;
  }

  @media (min-width: @screen-md) {
    legend + div {
      margin-top: 10px;
    }
  }
}

.childSeats {
  label {
    font-weight: 600;
    line-height: 1.2;
  }
}

.additionalStopField {
  margin-bottom: 20px;

  &:global {
    > .ant-row {
      display: flex;

      > div {
        flex-basis: 100%;
      }
    }

    @media (max-width: @screen-sm-max) {
      > .ant-row {
        flex-wrap: wrap;

        .ant-btn {
          margin-left: auto;
          margin-right: 5px;
        }
      }
    }
  }
}

input.addressInstructions {
  margin-left: 46px;
  margin-top: 5px;
  margin-right: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
