@import (reference) '../../../styles/defs/_variables';
@import (reference) '../../../styles/defs/_mixins';

.steps {
  padding: 20px 0;
  border-bottom: 5px solid @brand-heavy;
  background: #fff;

  > :global(.ant-steps) {
    .container;
  }

  @media (min-width: @screen-md-min) {
    padding: 30px 0;
  }
}

.optionWrapper {
  max-width: 740px;
  margin: 0 auto;
  background: #fff;
  padding: @padding-sm @padding-lg 0;

  :global(.step-travel-details.step-create) & {
    padding: 0;
    position: relative;
  }

  :global(.step-travel-details) & {
    fieldset {
      padding: 15px;

      &:not(:last-child)::before {
        right: 70px;
      }

      &::after {
        margin-left: -15px;
        width: ~'calc(100% + 30px)';
      }
    }
  }

  fieldset {
    position: relative;
    z-index: 1;
    padding: 15px 0;
    margin-bottom: @padding-lg;

    &:not(:last-of-type)::before {
      content: '';
      border: 15px solid transparent;
      position: absolute;
      bottom: -15px;
      right: 50px;
      border-top-color: #17224c;

      @media (max-width: @screen-xs-max) {
        right: 20px;
      }
    }

    &:not(:last-of-type)::after {
      content: '';
      display: block;
      margin-left: -24px;
      width: ~'calc(100% + 48px)';
      margin-top: 15px;
      height: 8px;
      background: @brand-gradient;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    legend {
      border-bottom: none;
      font-weight: 600;
      font-size: 18px;
      color: @text-color;
    }

    :global {
      .ant-form-item:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  :global {
    .ant-form-item:last-of-type {
      padding-bottom: 0;
    }
  }

  button {
    font-weight: normal;
  }
}

:global {
  .step-create.container {
    @media (max-width: @screen-sm-max) {
      padding: 0;
    }
  }

  .step-travel-details {
    label[title='Passenger Count'] {
      .sr-only;
    }

    &.step-create {
      position: relative;
      form {
        padding-top: @padding-lg * 2;
      }

      @media (max-width: @screen-sm-max) {
        margin-top: -48px;
        z-index: 10;
        padding: 0;
      }

      @media (min-width: @screen-md-min) {
        position: relative;
        z-index: 10;
        margin: -350px auto @padding-lg;
        min-height: 300px;
      }
    }
  }
}

.bookingBar {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px;
  padding: 0;

  small {
    line-height: 1.5;
  }

  :global(.step-travel-details) & {
    &:not(.hasHeader) {
      background: @brand-gradient;
      padding: 20px @padding-lg;
      margin: 0 0 -@padding-lg 0;
    }
  }

  :global {
    .ant-btn {
      height: 42px;
      padding: 5px 20px;

      @media (max-width: @screen-sm-max) {
        padding: 5px 10px;
        margin-bottom: 5px;
      }
    }
  }

  &:not(.hasHeader) {
    background: @brand-gradient;
    padding: 20px 24px;
    margin: @padding-lg -@padding-lg 0;

    :global {
      .ant-btn-primary:last-of-type {
        margin-left: auto;
      }
    }

    small {
      color: #fff;
      margin-top: 10px;
    }
  }

  &.isSummary:not(.hasHeader) {
    :global {
      .ant-btn-block {
        @media (max-width: @screen-sm-max) {
          margin-top: 5px;
        }
      }
    }
  }

  &.isSummary.hasHeader {
    @media (max-width: @screen-sm-max) {
      margin-bottom: 0;
    }
  }

  &.hasHeader {
    margin: 0 0 @padding-lg;
    align-items: center;
    border-bottom: 5px solid @brand-mid;
    padding-bottom: @padding-lg;

    h2 {
      font-size: 36px;
      margin-bottom: 0;
      color: @brand-dark;

      .headingStepIndex {
        display: none;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        color: @brand-heavy;
      }

      @media (max-width: @screen-sm-max) {
        font-size: 20px;

        .headingStepIndex {
          display: block;
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      position: relative;
      z-index: 1;
      margin: 0 -24px 24px;
      padding: 0 10px 24px;

      &::after {
        content: '';
        height: 5px;
        background: @brand;
        position: absolute;
        top: 100%;
        left: 0;
        width: var(--progress-width);
      }
    }

    @media (min-width: @screen-md) {
      margin: @padding-lg 0;
      position: relative;
      border: none;

      &::before {
        content: '';
        border: 15px solid transparent;
        position: absolute;
        bottom: -6px;
        right: 50px;
        border-top-color: #17224c;
      }

      &::after {
        content: '';
        display: block;
        margin-left: -24px;
        width: ~'calc(100% + 48px)';
        flex: 1 0 ~'calc(100% + 48px)';
        margin-top: 24px;
        height: 8px;
        background: @brand-gradient;
      }
    }

    :global {
      .ant-btn {
        margin-left: auto;
        + .ant-btn {
          @media (max-width: @screen-sm-max) {
            margin-left: 5px;
          }

          margin-left: 20px;
        }
      }
    }
  }
}

.tabIcon {
  width: 20px;
  margin-left: auto;

  @media (max-width: @screen-sm-max) {
    width: 10px;
    margin-right: -10px;
  }
}

.tabs {
  &:global {
    &.ant-tabs.ant-tabs-card .ant-tabs-card-bar {
      margin-top: -1px;
      margin-bottom: 0;

      .ant-tabs-nav-container {
        height: auto;
      }

      .ant-tabs-tab {
        border-radius: 0;
        background: @brand-gradient;
        color: #fff;
        margin: 0 0 0 -40px;
        font-weight: 600;
        font-size: 18px;
        height: auto;
        padding: 6px 28px 6px 65px;
        border: none;

        &:hover {
          color: #fff;
          background: @brand;
        }

        @media (min-width: @screen-md) {
          font-size: 30px;
          padding: 12px 30px 12px 80px;
          margin-left: -50px;
        }
      }

      [aria-selected='false'] {
        color: #fff;
      }

      .ant-tabs-tab-active {
        background: #fff;
        color: @brand;
      }

      .ant-tabs-nav {
        display: block;

        & > div:first-of-type {
          display: flex;

          [role='tab'] {
            flex: 1;

            @media (max-width: @screen-sm-max) {
              &:first-child {
                padding-left: 51px;
                padding-right: 45px;
              }
            }

            > span {
              display: flex;
              align-items: center;
            }

            &:first-child {
              transform: skewX(40deg);
              position: relative;
              z-index: 10;

              > span {
                transform: skewX(-40deg);

                @media (max-width: @screen-sm-max) {
                  :local(.tabIcon) {
                    margin-right: -20px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.ant-tabs .ant-tabs-tabpane > [aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      height: 0;
      display: none;
    }
  }
}

.or {
  display: block;
  margin: 20px auto 10px;
  font-weight: 600;
  text-align: center;
  position: relative;

  @media (max-width: @screen-sm-max) {
    + :global(.ant-row) {
      margin-bottom: 0;
    }
  }
}

.iconCircle {
  width: 120px;
  height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  border-radius: 50%;
  border: 1px solid @border-color-base;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: @brand-dark;
  vertical-align: middle;
  margin-right: 40px;
}

.fromOptions,
.toOptions {
  > :global(.ant-row) {
    @media (min-width: @screen-md) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.fullWidth:global(.ant-row) {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.duration {
  :global(.ant-row) {
    margin: 0;
    &:global(.ant-form-item) {
      padding-bottom: 0;
    }
  }
  @media (min-width: @screen-md) {
    display: flex;
    align-items: center;
  }

  :global(.ant-select + .ant-select) {
    @media (max-width: @screen-sm-max) {
      margin-left: 0 !important;
      margin-top: 10px;
    }
    @media (min-width: @screen-md) {
      margin-left: 20px !important;
    }
  }
}

.icon {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  color: @secondary-color;
  width: 80px;

  svg {
    width: 60px;
    height: 60px;
  }

  @media (max-width: @screen-sm-max) {
    position: absolute;
    margin-left: 0;

    & ~ div {
      width: ~'calc(100% - 90px)';
      margin-left: 80px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      :global(.ant-form-item-label) {
        padding-bottom: 0;

        + div {
          flex-shrink: 0;
          width: auto;
        }
      }

      :global(.ant-calendar-picker) {
        flex-shrink: 0;

        input {
          padding-right: 30px;
        }
      }
    }
  }

  @media (min-width: @screen-md) {
    width: 80px;

    & + * + * {
      margin-left: 20px;
    }

    & ~ div {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.passengers {
  .icon {
    svg {
      width: auto;
      height: 80px;
    }
  }
}

.duration {
  @media (max-width: @screen-sm-max) {
    position: relative;

    .icon + div {
      margin-left: 80px;
    }
  }

  @media (min-width: @screen-md) {
    .icon {
      margin-right: 30px;

      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.formItemWrapper {
  @media (min-width: @screen-md) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.summaryDetails {
  margin-bottom: @padding-sm;
  position: relative;
  z-index: 1;

  @media (max-width: @screen-xs-max) {
    margin-bottom: @padding-lg;
  }

  &:not(:last-of-type)::before {
    content: '';
    border: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    right: 50px;
    border-top-color: #17224c;

    @media (max-width: @screen-xs-max) {
      bottom: -30px;
      right: 20px;
    }
  }

  &:not(:last-of-type)::after {
    content: '';
    display: block;
    margin-left: -24px;
    width: ~'calc(100% + 48px)';
    margin-top: 24px;
    height: 8px;
    background: @brand-gradient;
  }

  .summaryDetailsTitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    h3 {
      font-size: 18px;
      margin-bottom: 0;

      @media (min-width: @screen-md) {
        font-size: 24px;
      }
    }

    .priceContainer {
      margin-left: auto;

      .price {
        margin-left: 24px;
        display: inline-block;
        background: #ecf5fd;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px 10px 10px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          right: 100%;
          top: 50%;
          border: 24px solid transparent;
          border-right-color: #ecf5fd;
          margin-top: -24px;
        }
      }
    }
  }

  > dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    dt {
      font-weight: 600;
      flex: 1 1 40%;
    }

    dd {
      flex: 1 1 60%;

      svg {
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    dt,
    dd {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 20px;
    }
  }

  .summaryAdditionalStop + .summaryAdditionalStop {
    padding: 10px 0 0;
  }

  @media (min-width: @screen-md) {
    padding: 0 0 15px;

    > dl {
      dt {
        font-weight: 600;
        flex: 1 0 35%;
      }

      dd {
        flex: 2 0 65%;
      }
    }
  }
}

.bookingNotesFieldSet {
  :global {
    .ant-form-extra {
      font-size: 14px;
    }

    .ant-col.ant-form-item-label {
      text-align: left;
      width: 100%;
    }
  }
}

.bookingNotesLabel {
  font-weight: bold;
}

.bookingNotesHelpText {
  margin-left: 10px;
  font-size: 13px;
  font-weight: normal;
  color: @text-color-secondary;

  @media (min-width: @screen-md) {
    margin-left: 20px;
    font-size: @font-size-base;
  }
}

.stylisedBullet {
  font-style: normal;
}

.summaryPriceNote {
  color: @text-color-secondary;
  font-size: 0.7rem;
  margin-bottom: 12px;
  margin-top: 2px;

  @media (min-width: @screen-md) {
    padding-left: 40%;
    text-align: right;
  }
}

.notes {
  .resetList;

  margin: 20px 0;

  li {
    display: block;
    padding: 2px 0 2px 30px;
    position: relative;
    line-height: @line-height-base;

    svg {
      position: absolute;
      left: 0;
      top: 3px;
      color: @secondary-color;
    }
  }
}

.bookingTravelDetailPassengerNote {
  color: @text-color-secondary;
  font-size: 0.8rem;

  .phoneNumber {
    white-space: nowrap;
  }
}

.fromAirportWaitAfterLanding {
  :global(.ant-select-dropdown-menu-item) {
    content: 'minutes';
  }
}

.desktopOnly {
  @media (max-width: @screen-xs-max) {
    display: none !important;
  }
}

.finalForm {
  font-size: 16px;
  text-align: center;

  h1 {
    font-size: 22px;
  }

  .finalFormIcon {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.returnTrip {
  padding: @padding-lg * 2 0 @padding-lg;
  background: @brand-lightest;
  border: solid @border-color-dark;
  border-width: 1px 0;
  margin: 24px 0;

  @media (max-width: @screen-xs-max) {
    margin: 24px -15px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  + div {
    button {
      margin-left: 10px;
    }
  }
}

.tabCta {
  overflow: hidden;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  height: 28px;

  > div {
    background: @brand;
    color: #fff;
    text-transform: uppercase;
    width: fit-content;
    transform: skewX(40deg);

    > span {
      display: block;
      transform: skewX(-40deg);
    }

    @media (max-width: @screen-sm-max) {
      padding: 5px 20px 5px 23px;
      margin-left: -12px;
    }

    @media (min-width: @screen-lg) {
      width: 50%;
      padding: 5px 20px 5px 60px;
      margin-left: -39px;
    }
  }

  @media (max-width: @screen-sm-max) {
    font-size: 12px;
  }

  @media (min-width: @screen-lg) {
    font-size: 15px;
    height: 32px;
    top: -32px;
  }
}

.finalFormButtons {
  margin-bottom: @padding-lg;
  padding-bottom: @padding-lg;
}

input.addressInstructions {
  margin-left: 20px;
  margin-top: 10px;
}

.accountName {
  .accountLabel {
    font-weight: 600;
    margin-right: 10px;
  }
  font-size: 18px;
  color: @text-color;
  padding: 0 15px 15px;
}
