{% extends './limomate_client_email_base.html' %}

{% block title %}Welcome to Limomate!{% endblock title %}

{% block header %}Welcome to Limomate{% endblock header %}

{% block emailcontent %}
  <p>Hi {{ user.first_name }} {{ user.last_name }},</p>
  <p>Welcome to Limomate, your account: {{ user.email }}, has been set-up and you can <a href="{{ domain }}/login/">log in</a> with that email address and your chosen password.</p>
  <p>If you can't remember your password you can <a href="{{ domain }}/request-password-reset/">reset it</a>.</p>
  <p>We look forward to seeing you soon,</p>
  <p>Kind Regards,<br />
    Limomate by Southern Cross</p>
{% endblock emailcontent %}
