{% load static %}
{% load inlinecss %}
{% load format_currency %}
{% inlinecss "css/driver_revenue.css" %}
<!DOCTYPE html>
<html lang="en-AU">
<head>
  <meta charset="UTF-8" />
  <title>Driver Revenue for {{ sdate }} - {{ edate }}</title>
</head>
<body>
  <table class="data-table">
    <thead>
      <tr>
        <th class="table-header" colspan="10">Driver Revenue for <span>{{ sdate }} - {{ edate }}</span></th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th class="text-header">Driver No.</th>
        <th class="text-header">Driver Name</th>
        <th class="numeric">Days Worked</th>
        <th class="numeric">Weekend Days</th>
        <th class="numeric">Bookings Serviced</th>
        <th class="numeric">Out of Hours</th>
        <th class="numeric">Earnings</th>
        <th class="numeric">Avg/Day</th>
        <th class="numeric">Avg Booking Value</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in drivers %}
        <tr {% if forloop.counter|add:"1"|divisibleby:4 or forloop.counter|divisibleby:4 %}class="highlight-row"{% endif %}>
          <td>{{ forloop.counter }}</td>
          <td class="text-cell">{{ driver.driver_no }}</td>
          <td class="text-cell">{{ driver.name }}</td>
          <td class="numeric">{{ driver.days_worked }}</td>
          <td class="numeric">{{ driver.weekend_days }}</td>
          <td class="numeric">{{ driver.bookings }}</td>
          <td class="numeric">{{ driver.out_of_hours }}</td>
          <td class="numeric">{{ driver.earnings|format_currency }}</td>
          <td class="numeric">{{ driver.daily_average|format_currency }}</td>
          <td class="numeric">{{ driver.booking_average|format_currency }}</td>
        </tr>
      {% endfor %}
      <tr class="total-row">
        <td>Total</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="numeric">{{ total_days_worked }}</td>
        <td class="numeric">{{ total_weekends_worked }}</td>
        <td class="numeric">{{ total_bookings }}</td>
        <td class="numeric">{{ total_out_of_hours }}</td>
        <td class="numeric">{{ total_earnings|format_currency }}</td>
        <td class="numeric">{{ daily_average_average|format_currency }}</td>
        <td class="numeric">{{ booking_average_average|format_currency }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endinlinecss %}
